.whitespace{
	white-space: normal !important;
}

.hoverhref{
	cursor: pointer;
}

.detailedItem{
	background-color: #F5F5F5;
}

.number{
	width:50px;
}

.extend{
	width:100px;
}

.defectspots-table tr{
	border-bottom:1px solid #ddd;
}

.panel-heading i{
	margin-right:10px;
}

.cell-center-align{
	text-align: center;
}

.datatable-header{
	padding-top: 0px;
}

td.detailedItemArrow {
    background: url(../images/arrow_down.png) no-repeat center center;
}
tr.shown td.detailedItemArrow {
    background: url(../images/arrow_up.png) no-repeat center center;
}

@media screen and (max-width: 769px){
	
	.mobileBold{
	font-weight: 700;
	}
} 

.panel-collapse{
	background-color: #F5F5F5;
}
.panel-heading {
    cursor: pointer;
}