
@{
    ViewBag.Title = "Index";
}
@section Header{
}

@section AdditionalScripts{
}
<h2>Index</h2>

<div id="main_content" class="page-content">
    <!-- Main content -->
    <div class="content-wrapper">
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="~/assetsfinal/images/1.svg">
            </div>
        </div>
    </div>
</div>

