<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Limitless - Responsive Web Application Kit by Eugene Kopyov</title>
    
    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="/assetsfinal/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="/assetsfinal/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/assetsfinal/css/core.min.css" rel="stylesheet" type="text/css">
    <link href="/assetsfinal/css/components.min.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    
    <script type="text/javascript" src="/assetsfinal/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="/assetsfinal/js/core/libraries/bootstrap.min.js"></script>
    <script type='text/javascript' src='/assetsfinal/js/core/libraries/knockout-3.3.0.js'></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
    <script type="text/javascript" src="/Scripts/ajaxq.js"></script>
    <script type="text/javascript" src="/assetsfinal/js/plugins/loaders/pace.min.js"></script>

    <!-- /core JS files -->
    <!-- Theme JS files -->
    <!-- /theme JS files -->
    <!--Custom CSS-->
    <link href="assetsfinal/css/Custom.css" rel="stylesheet" type="text/css">
    <!--/Custom CSS-->

    <script>
        var rootViewModel = {
            MainViewModel: ko.observable(),
            BreadcrumbViewModel: ko.observable()
        };
    </script>

    @RenderSection("AdditionalScripts", false)


</head>
<body>
    <!-- Main navbar -->
    <div class="navbar navbar-inverse bg-indigo-400 navbar-component" style="position: relative; z-index: 23;">
        <div class="navbar-header">
            <a class="navbar-brand"><img src="/assetsfinal/images/logo_light.png" alt=""></a>

            <ul class="nav navbar-nav pull-right visible-xs-block">
                <li>
                    <a data-toggle="collapse" data-target="#navbar-text">
                        <i class="icon-menu7"></i>
                    </a>
                </li>
            </ul>
        </div>

        <div class="navbar-collapse collapse navbar-right" id="navbar-text">
            <div class="navbar-right">
                @if (Request.IsAuthenticated)
                {
                <ul class="nav navbar-nav">
                    <li class="dropdown dropdown-user">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-user-check position-left"></i>
                            <span>@User.Identity.Name</span>
                            <i class="caret"></i>
                        </a>
                       
                            <ul class="dropdown-menu dropdown-menu-right">
                                <!-- <li><a href="#"><i class="icon-cog5"></i> Account settings</a></li> -->
                                <li><a href="/Account/LogOff"><i class="icon-switch2"></i> Logout</a></li>
                            </ul>
                    </li>
                </ul>
                }
            </div>

            <ul class="nav navbar-nav">
                <li class="dropdown language-switch">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <img src="/assetsfinal/images/online.png" class="position-left" alt="">
                        Online
                        <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu">
                        <li class="active"><a><img src="/assetsfinal/images/online.png" alt="">Online</a></li>
                        <li><a href="offline_projects.html"><img src="/assetsfinal/images/offline.png" alt="">Offline</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
    <!-- /main navbar -->

    <!-- Second navbar -->	<!-- /second navbar -->
    <!-- Page header -->
    @RenderSection("Header")
    <!-- /page header -->

    <div class="page-container">
        <!-- Page content -->
            

        @RenderBody()

        

    </div>
    <!-- /page content -->
    <!--Custom JS-->
    <script type="text/javascript">
        ko.applyBindings(rootViewModel.MainViewModel, document.getElementById('main_content'));
        //ko.applyBindings(rootViewModel.BreadcrumbViewModel, document.getElementById('breadcrumb_view'));
    </script>


</body>
</html>
